*,
*:before,
*:after { font-family: 'Pretendard'; box-sizing: border-box; user-select: none; }
html, body {
    width: 100%;
    height: 100%;
    background:#fff;
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
body { overflow: auto; }

button {
    appearance: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    user-select: none;
}

p { margin: 0; }

em { font-style: normal; }

.guardrail {
    flex: none;;
    width: 1280px;
    height: auto;
    position: relative;
}


.btn-item {
    --btn-size: 48px;
    --txt-color: #fff;
    height: var(--btn-size);
    color: var(--txt-color);
    background: linear-gradient(120deg, #000, #414A53);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 32px;
    font-size: 14px;
    font-weight: 600;
    gap: 4px;
    transition: all 0.3s;
}

.btn-item:hover {
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
}

.btn-item * { user-select: none; }

.btn-item.round {
    border-radius: calc(var(--btn-size) / 2);
}

.btn-item .icon {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: -8px;
    transition: all 0.2s;
}

.btn-item .icon path { fill: var(--txt-color); }

.btn-item:hover .icon { transform: translateX(8px) translateZ(0); }







#header {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.7);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#header .header-wrap {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 60px 16px;
}

#header .bi {
    flex: none;
    width: 180px;
    height: 48px;
}

#header nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 72px;
    margin-right: 80px;
}

#header nav button {
    appearance: none;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    background: transparent;
    position: relative;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

#header nav button:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #FF4800;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.2s;
    transform: translateZ(0) scaleX(0);
}

#header nav button:hover:after {
    transform: translateZ(0) scaleX(1);
}







#intro {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    display: none;
}

#intro .guardrail {
    height: 100%;
}

#intro .intro-wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

#intro .intro-wrap .txt-layer {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 60px;
}

#intro .intro-wrap .txt-layer span {
    color: #FF4800;
    font-size: 12px;
    font-weight: 500;
}

#intro .intro-wrap .txt-layer .big-typo {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    letter-spacing: -1px;
}

#intro .intro-wrap .txt-layer .big {
    font-size: 28px;
    font-weight: 200;
    line-height: 38px;
}

#intro .intro-wrap .txt-layer .big em { font-weight: 600; }

#intro .intro-wrap .txt-layer .btn-item {
    margin-top: 100px;
}



#intro .intro-wrap .bg-layer {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
}

#intro .intro-wrap .bg-layer .screens {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 64px;
    background-image: url(../img/bg_ts_bi.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 556px auto;
}

#intro .intro-wrap .bg-layer .screens .row {
    width: 190px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}

#intro .intro-wrap .bg-layer .screens .row:nth-of-type(2) {
    transform: translateY(-25%);
}

#intro .intro-wrap .bg-layer .screens .row:nth-of-type(3) {
    transform: translateY(-5%);
}

#intro .intro-wrap .bg-layer .screens .row .set:nth-of-type(1),
#intro .intro-wrap .bg-layer .screens .row .set:nth-of-type(2) {
    animation: intro-screen-row1 20s linear infinite;
}

#intro .intro-wrap .bg-layer .screens .row:nth-of-type(2) .set:nth-of-type(1),
#intro .intro-wrap .bg-layer .screens .row:nth-of-type(2) .set:nth-of-type(2) {
    animation: intro-screen-row1 18s linear infinite;
}

#intro .intro-wrap .bg-layer .screens .row:nth-of-type(3) .set:nth-of-type(1),
#intro .intro-wrap .bg-layer .screens .row:nth-of-type(3) .set:nth-of-type(2) {
    animation: intro-screen-row1 19s linear infinite;
}


#intro .intro-wrap .bg-layer .screens .row .set {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}

#intro .intro-wrap .bg-layer .screens .row img {
    flex: none;
    width: 100%;
    height: auto;
    display: block;
    filter: drop-shadow(12px 12px 16px rgba(0,0,0,0.16)) drop-shadow(4px 4px 12px rgba(0,0,0,0.4));
}

@keyframes intro-screen-row1 {
    0% { transform: translateY(0) translateZ(0); }
    100% { transform: translateY(calc(-100% - 40px)) translateZ(0); }
}

#intro .intro-wrap .bg-layer .screens .row .space { visibility: hidden; }





#timeline {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    overflow: hidden;
}

#timeline .timeline-area {
    flex: none;
}

#timeline .cont-area {
    flex: 1 0 0;
    min-height: 0;
}

.timeline-swiper {
    width: 1280px;
    height: auto;
    position: relative;
    padding-left: 60px;
    padding-right: 60px;
}

.timeline-swiper:before,
.timeline-swiper:after {
    content: '';
    display: block;
    width: 160px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
}

.timeline-swiper:before {
    left: 0;
    background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0));
}
.timeline-swiper:after {
    right: 0;
    background: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,1) 50%);
}

.timeline-swiper .swiper-slide:nth-of-type(1) { z-index: 6; }
.timeline-swiper .swiper-slide:nth-of-type(2) { z-index: 5; }
.timeline-swiper .swiper-slide:nth-of-type(3) { z-index: 4; }
.timeline-swiper .swiper-slide:nth-of-type(4) { z-index: 3; }
.timeline-swiper .swiper-slide:nth-of-type(5) { z-index: 2; }
.timeline-swiper .swiper-slide:nth-of-type(6) { z-index: 1; }

.timeline-swiper .swiper-slide {
    align-self: stretch;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 16px;
    border-left: 1px solid #C0C6CE;
    padding-bottom: 8px;
}

.timeline-swiper .swiper-slide:first-of-type {
    border-left: none;
}

.timeline-swiper .swiper-slide h2 {
    flex: none;
    font-size: 26px;
    font-weight: 900;
    line-height: 28px;
    padding: 0 12px;
    margin: 0;
    color: #F2F2F7;
    transition: all 0.4s;
}

.timeline-swiper .swiper-slide.swiper-slide-active h2 { color: #000; }

.timeline-swiper .swiper-slide .months-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: flex;
    counter-reset: number 0;
    border-top: 1px solid #C0C6CE;
}

.timeline-swiper .swiper-slide .months-wrap .month {
    width: 40px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}

.timeline-swiper .swiper-slide .months-wrap .month:before {
    counter-increment: number 1;
    content: counter(number);
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    padding: 8px;
    color: #F2F2F7;
}

.timeline-swiper .swiper-slide .months-wrap .month:has(.project-tag):before { color: #000;}

.timeline-swiper .swiper-slide .months-wrap .month .project-tag {
    display: inline-block;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    padding: 8px 12px;
    border-radius: 4px;
    color: #fff;
    background: #008BEC;
    margin: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.16), 0 8px 16px rgba(0,0,0,0.24);
}

.timeline-swiper .swiper-slide .months-wrap .month .project-tag.major { background: #6D80F5; }

.timeline-swiper .swiper-slide .months-wrap .month .project-tag.stack-2 { margin-top: 48px; }
.timeline-swiper .swiper-slide .months-wrap .month .project-tag.stack-3 { margin-top: 88px; }