*,
*:before,
*:after { font-family: 'Pretendard'; box-sizing: border-box; user-select: none; }
html, body {
    width: 100%;
    height: 100%;
    background:#fff;
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
body { overflow: auto; }

button {
    appearance: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    user-select: none;
}

p { margin: 0; }

em { font-style: normal; }

.guardrail {
    flex: none;;
    width: 1280px;
    height: auto;
    position: relative;
}


.btn-item {
    --btn-size: 48px;
    --txt-color: #fff;
    height: var(--btn-size);
    color: var(--txt-color);
    background: linear-gradient(120deg, #000, #414A53);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 32px;
    font-size: 14px;
    gap: 4px;
    transition: all 0.3s;
}

.btn-item:hover {
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
}

.btn-item * { user-select: none; }

.btn-item.round {
    border-radius: calc(var(--btn-size) / 2);
}

.btn-item .icon {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: -8px;
    transition: all 0.2s;
}

.btn-item .icon path { fill: var(--txt-color); }

.btn-item:hover .icon { transform: translateX(8px) translateZ(0); }







#header {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.7);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#header .header-wrap {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 60px 16px;
}

#header .bi {
    flex: none;
    width: 180px;
    height: 48px;
}

#header nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 72px;
}

#header nav button {
    appearance: none;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    background: transparent;
    position: relative;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

#header nav button:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #FF4800;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.2s;
    transform: translateZ(0) scaleX(0);
}

#header nav button:hover:after {
    transform: translateZ(0) scaleX(1);
}







#intro {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#intro .guardrail {
    height: 100%;
}

#intro .intro-wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

#intro .intro-wrap .txt-layer {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 60px;
}

#intro .intro-wrap .txt-layer span {
    color: #FF4800;
    font-size: 12px;
    font-weight: 500;
}

#intro .intro-wrap .txt-layer .big-typo {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
}

#intro .intro-wrap .txt-layer .big {
    font-size: 28px;
    font-weight: 200;
    line-height: 38px;
}

#intro .intro-wrap .txt-layer .big em { font-weight: 600; }

#intro .intro-wrap .txt-layer .btn-item {
    margin-top: 60px;
}



#intro .intro-wrap .bg-layer {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
}

#intro .intro-wrap .bg-layer .screens {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 64px;
    background-image: url(../img/bg_ts_bi.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 556px auto;
}

#intro .intro-wrap .bg-layer .screens .row {
    width: 190px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#intro .intro-wrap .bg-layer .screens .row img {
    flex: none;
    width: 100%;
    height: auto;
    display: block;
    filter: drop-shadow(12px 12px 16px rgba(0,0,0,0.16)) drop-shadow(4px 4px 12px rgba(0,0,0,0.4));
}