*,
*:before,
*:after { font-family: 'Pretendard'; box-sizing: border-box; user-select: none; }
html, body {
    width: 100%;
    height: 100%;
    background:#fff;
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
body { overflow: auto; background: #202225; }

button {
    appearance: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    user-select: none;
}

p { margin: 0; }

em { font-style: normal; }

h1,h2,h3,h4,h5,h6 { margin: 0;}

.guardrail {
    flex: none;;
    width: 1280px;
    height: auto;
    position: relative;
}


.btn-item {
    --btn-size: 48px;
    --txt-color: #fff;
    height: var(--btn-size);
    color: var(--txt-color);
    background: linear-gradient(120deg, #000, #414A53);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 32px;
    font-size: 14px;
    font-weight: 600;
    gap: 4px;
    transition: all 0.3s;
}

.btn-item:hover {
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
}

.btn-item * { user-select: none; }

.btn-item.round {
    border-radius: calc(var(--btn-size) / 2);
}

.btn-item .icon {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: -8px;
    transition: all 0.2s;
}

.btn-item .icon path { fill: var(--txt-color); }

.btn-item:hover .icon { transform: translateX(8px) translateZ(0); }







#header {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.7);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#header .header-wrap {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px 16px;
}

#header .bi {
    flex: none;
    width: 220px;
    height: 48px;
    cursor: pointer;
}

#header nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 72px;
    margin-right: 80px;
}

#header nav button {
    appearance: none;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    background: transparent;
    position: relative;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
}

#header nav button.act { color: #FF4800; }

#header nav button:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #FF4800;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.2s;
    transform: translateZ(0) scaleX(0);
}

#header nav button.act:after,
#header nav button:hover:after {
    transform: translateZ(0) scaleX(1);
}

.footer {
    width: 100%;
    height: auto;
    position: relative;
}

.footer nav {
    width: 1160px;
    height: auto;
    position: relative;
    margin: 120px auto 24px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer nav .footer-nav-btn {
    --txt-color: #5B6068;
    appearance: none;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--txt-color);
    gap: 8px;
}

.footer nav .prev-side .footer-nav-btn { align-items: flex-start; text-align: left; }
.footer nav .next-side .footer-nav-btn { align-items: flex-end; text-align: right; }

.footer nav .footer-nav-btn > div {
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s;
}

.footer nav .footer-nav-btn:hover { --txt-color: #2a3138; }

.footer nav .prev-side .footer-nav-btn:hover > div { transform: translateX(-12px) translateZ(0); }
.footer nav .next-side .footer-nav-btn:hover > div { transform: translateX(12px) translateZ(0); }

.footer nav .prev-side .footer-nav-btn > div { justify-content: flex-start; }
.footer nav .next-side .footer-nav-btn > div { justify-content: flex-end; }

.footer nav .footer-nav-btn > div .icon {
    display: block;
    width: 24px;
    height: 24px;
}

.footer nav .footer-nav-btn > div .icon path { fill: var(--txt-color); }

.footer nav .footer-nav-btn > div span {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.footer nav .footer-nav-btn > p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000;
}

.footer .copyright {
    width: 100%;
    border-top: 1px solid #D9DBDC;
    padding: 12px 0 24px;
    margin-top: 24px;
    text-align: center;
    line-height: 32px;
    font-size: 12px;
    font-weight: 300;
}

.footer .copyright em { font-weight: 800; }

.section-swiper {
    width: 100%;
    height: 100%;
}

.section-swiper .works-section {
    flex: none;
    width: 100%;
    height: 100%;
    padding-top: 84px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    overflow: hidden;
    background: #fff;
}





#intro {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #fff;
}

#intro .guardrail {
    height: 100%;
}

#intro .intro-wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

#intro .intro-wrap .txt-layer {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 60px;
}

#intro .intro-wrap .txt-layer span {
    color: #FF4800;
    font-size: 12px;
    font-weight: 500;
}

#intro .intro-wrap .txt-layer .big-typo {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    letter-spacing: -1px;
}

#intro .intro-wrap .txt-layer .big {
    font-size: 28px;
    font-weight: 200;
    line-height: 38px;
}

#intro .intro-wrap .txt-layer .big em { font-weight: 600; }

#intro .intro-wrap .txt-layer .dur {
    color: #5B6068;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    margin-top: 24px;
}

#intro .intro-wrap .txt-layer .btn-item {
    margin-top: 100px;
}



#intro .intro-wrap .bg-layer {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
}

#intro .intro-wrap .bg-layer .screens {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 64px;
    background-image: url(../img/bg_ts_bi.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 556px auto;
}

#intro .intro-wrap .bg-layer .screens .row {
    width: 190px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}

#intro .intro-wrap .bg-layer .screens .row:nth-of-type(2) {
    transform: translateY(-25%);
}

#intro .intro-wrap .bg-layer .screens .row:nth-of-type(3) {
    transform: translateY(-5%);
}

#intro .intro-wrap .bg-layer .screens .row .set:nth-of-type(1),
#intro .intro-wrap .bg-layer .screens .row .set:nth-of-type(2) {
    animation: intro-screen-row1 20s linear infinite;
}

#intro .intro-wrap .bg-layer .screens .row:nth-of-type(2) .set:nth-of-type(1),
#intro .intro-wrap .bg-layer .screens .row:nth-of-type(2) .set:nth-of-type(2) {
    animation: intro-screen-row1 18s linear infinite;
}

#intro .intro-wrap .bg-layer .screens .row:nth-of-type(3) .set:nth-of-type(1),
#intro .intro-wrap .bg-layer .screens .row:nth-of-type(3) .set:nth-of-type(2) {
    animation: intro-screen-row1 19s linear infinite;
}


#intro .intro-wrap .bg-layer .screens .row .set {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}

#intro .intro-wrap .bg-layer .screens .row img {
    flex: none;
    width: 100%;
    height: auto;
    display: block;
    filter: drop-shadow(12px 12px 16px rgba(0,0,0,0.16)) drop-shadow(4px 4px 12px rgba(0,0,0,0.4));
    -webkit-filter: drop-shadow(12px 12px 16px rgba(0,0,0,0.16)) drop-shadow(4px 4px 12px rgba(0,0,0,0.4));
}

@keyframes intro-screen-row1 {
    0% { transform: translateY(0) translateZ(0); }
    100% { transform: translateY(calc(-100% - 40px)) translateZ(0); }
}

#intro .intro-wrap .bg-layer .screens .row .space { visibility: hidden; }




#timeline {
    flex: none;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    overflow: hidden;
    background: #fff;
}

#timeline .timeline-area {
    flex: none;
}

.timeline-swiper {
    width: 1280px;
    height: auto;
    position: relative;
    padding-left: 60px;
    padding-right: 60px;
}

.timeline-swiper:before,
.timeline-swiper:after {
    content: '';
    display: block;
    width: 160px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
    pointer-events: none;
}

.timeline-swiper:before {
    left: -2px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0));
} 
.timeline-swiper:after {
    right: -2px;
    background: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,1) 50%);
}

.timeline-swiper .swiper-slide:nth-of-type(1) { z-index: 7; }
.timeline-swiper .swiper-slide:nth-of-type(2) { z-index: 6; }
.timeline-swiper .swiper-slide:nth-of-type(3) { z-index: 5; }
.timeline-swiper .swiper-slide:nth-of-type(4) { z-index: 4; }
.timeline-swiper .swiper-slide:nth-of-type(5) { z-index: 3; }
.timeline-swiper .swiper-slide:nth-of-type(6) { z-index: 2; }
.timeline-swiper .swiper-slide:nth-of-type(7) { z-index: 1; }

.timeline-swiper .swiper-slide {
    align-self: stretch;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    border-left: 1px solid #C0C6CE;
    transform: translateZ(0);
    overflow: visible;
}

.timeline-swiper .swiper-slide:first-of-type {
    border-left: none;
}

.timeline-swiper .swiper-slide h2 {
    flex: none;
    font-size: 26px;
    font-weight: 900;
    line-height: 28px;
    padding: 0 12px;
    margin: 0;
    color: #F2F2F7;
    transition: all 0.4s;
}

.timeline-swiper .swiper-slide.swiper-slide-active h2 { color: #000; }

.timeline-swiper .swiper-slide .months-wrap {
    flex: 1 0 auto;
    min-height: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    counter-reset: number 0;
    border-top: 1px solid #C0C6CE;
    margin-top: 8px;
    
}

.timeline-swiper .swiper-slide .months-wrap .month {
    width: 40px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    
}

.timeline-swiper .swiper-slide .months-wrap .month:before {
    counter-increment: number 1;
    content: counter(number);
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    padding: 8px 8px 0;
    color: #F2F2F7;
}

.timeline-swiper .swiper-slide .months-wrap .month:has(.project-tag):before { color: #000;}

.timeline-swiper .swiper-slide .months-wrap .month .project-tag {
    display: inline-block;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    padding: 6px 12px;
    border-radius: 4px;
    color: #fff;
    background: #008BEC;
    margin: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.16), 0 8px 16px rgba(0,0,0,0.24);
    
}

.timeline-swiper .swiper-slide .months-wrap .month .project-tag.start { background: #2A3138; }
.timeline-swiper .swiper-slide .months-wrap .month .project-tag.major { background: #6D80F5; }

.timeline-swiper .swiper-slide .months-wrap .month .project-tag.stack-2 { margin-top: 44px; }
.timeline-swiper .swiper-slide .months-wrap .month .project-tag.stack-3 { margin-top: 80px; }

.timeline-swiper .swiper-slide .description {
    width: 100%;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #fff;
}


.timeline-swiper .swiper-slide:nth-of-type(1) .description { background: linear-gradient(90deg, #FFFFFF, #C0C6CE); }
.timeline-swiper .swiper-slide:nth-of-type(2) .description { background: linear-gradient(90deg, #C0C6CE, #A0A6AF); }
.timeline-swiper .swiper-slide:nth-of-type(3) .description { background: linear-gradient(90deg, #A0A6AF, #5B6068); }
.timeline-swiper .swiper-slide:nth-of-type(4) .description { background: linear-gradient(90deg, #5B6068, #494E55); }
.timeline-swiper .swiper-slide:nth-of-type(5) .description { background: linear-gradient(90deg, #494E55, #2A3138); }
.timeline-swiper .swiper-slide:nth-of-type(6) .description { background: linear-gradient(90deg, #2A3138, #202225); }
.timeline-swiper .swiper-slide:nth-of-type(7) .description { background: linear-gradient(90deg, #202225, #FFFFFF); }


#timeline .cont-area {
    flex: 1 0 0;
    min-height: 0;
    width: 1160px;
    margin: 0 auto;
    position: relative;
    transform: translateX(-80px);
}

#timeline .cont-area .cont-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 80px;
    padding: 60px 120px;
    pointer-events: none;
    opacity: 0;
    transition: all 0.4s;
}

#timeline .cont-area .cont-wrap.act {
    pointer-events: all;
    transition: all 1s;
    opacity: 1;
}

#timeline .cont-area .cont-wrap .desc-side {
    flex: 1 0 0;
    min-width: 0;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 16px;
    gap: 40px;
}

#timeline .cont-area .cont-wrap .desc-side img {
    display: block;
    width: 381px;
    height: auto;
}

#timeline .cont-area .cont-wrap .desc-side .btn-item { flex: none; }

#timeline .cont-area .cont-wrap .screen-side {
    flex: none;
    width: 392px;
}

#timeline .cont-area .cont-wrap .screen-side img {
    display: block;
    width: auto;
    height: 400px;
    filter: drop-shadow(12px 12px 16px rgba(0, 0, 0, 0.16)) drop-shadow(4px 4px 12px rgba(0, 0, 0, 0.4));
    -webkit-filter: drop-shadow(12px 12px 16px rgba(0, 0, 0, 0.16)) drop-shadow(4px 4px 12px rgba(0, 0, 0, 0.4));
}



.works-section .nav-area {
    width: 1160px;
    margin: 0 auto;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 24px 0 16px;
    border-bottom: 1px solid #D9DBDC;
}

.works-section .nav-area .btn-item {
    font-size: 12px;
    font-weight: 600;
    background: linear-gradient(120deg, rgba(0,0,0,0.3), rgba(65,74,83,0.3));
}
.works-section .nav-area .btn-item.act {
    box-shadow: 0 4px 8px rgba(0,0,0,0.24);
    background: linear-gradient(120deg, #000, #414A53);
}

.works-section .cont-area {
    flex: 1 0 0;
    min-height: 0;
}

.works-section .cont-area > .swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.each-project-slide {
    width: 1160px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
}

.each-project-slide:has(.scroll-container) { width: 100%; }

.each-project-slide .scene-area {
    flex: none;
    width: 430px;
    padding-top: 80px;
}

.each-project-slide .description-area {
    flex: 1 0 0;
    min-width: 0;
}

.each-project-slide .scene-area .mockup-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 525px;
    margin: 0 auto;
}

.each-project-slide .scene-area .mockup-wrap .project-label {
    --var-item-height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--var-item-height);
    border-radius: calc(var(--var-item-height) / 2);
    padding: 0 16px;
    line-height: 20px;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid #2A3138;
    color: #2A3138;
    white-space: nowrap;
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
}

.each-project-slide .scene-area .mockup-wrap:after {
    content: '';
    display: block;
    width: 68px;
    height: 18px;
    background-image: url('../img/mockup_lens.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.each-project-slide .scene-area .scene-swiper {
    flex: none;
    width: 100%;
    height: 100%;
}

.each-project-slide .scene-area .scene-swiper .swiper-slide {
    height: auto;
    margin: 0;
}

.each-project-slide .scene-area .scene-swiper .swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
}

.mockup-frame {
    border-radius: 24px;
    outline: 6px solid #000;
    box-shadow: 12px 12px 16px 6px rgba(0,0,0,0.16), 4px 4px 12px rgba(0,0,0,0.4);
}

.each-project-slide .scene-area .mockup-wrap .swiper-pagination {
    right: -32px;
}

.each-project-slide .scroll-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
    padding: 60px 0 0;
}

.each-project-slide .scroll-container .cont-wrap {
    width: 1160px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
}

.each-project-slide .scroll-container .cont-wrap > img {
    display: block;
    width: 100%;
}



.each-project-slide .description-area {
    flex: 1 0 0;
    min-width: 0;
    position: relative;
    align-self: stretch;
}

.each-project-slide .description-area .description-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 80px;
    pointer-events: none;
    transition: all 0.4s;
    opacity: 0;
}

.each-project-slide .description-area .description-wrap.act {
    pointer-events: all;
    transition: all 1s;
    opacity: 1;
}

.each-project-slide .description-area .description-wrap > img {
    display: block;
    width: 695px;
    margin-left: -8px;
}


[class*="parallax-"] { opacity: 0; }
.act [class*="parallax-"] { opacity: 1; }

.parallax-1 { transition: all 0.4s; }
.parallax-2 { transition: all 0.4s; }
.parallax-3 { transition: all 0.4s; }
.parallax-4 { transition: all 0.4s; }
.parallax-5 { transition: all 0.4s; }

.act .parallax-1 { transition: all 1s 0.1s; }
.act .parallax-2 { transition: all 1s 0.2s; }
.act .parallax-3 { transition: all 1s 0.3s; }
.act .parallax-4 { transition: all 1s 0.4s; }
.act .parallax-5 { transition: all 1s 0.5s; }
.act .parallax-6 { transition: all 1s 0.6s; }

.fade {
    opacity: 0;
    transition: all 1s 0.1s;
}

.fade.in { opacity: 1; }

.each-project-slide .description-area .description-wrap h3 {
    flex: none;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    margin: 0;
}

.each-project-slide .description-area .description-wrap .cont-wrap {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.each-project-slide .description-area .description-wrap .cont-wrap > div {
    flex: 1 0 auto;
    height: 200px;
    background: #eee;
}
